<div class="container">
    <mat-card class="card" style="height: 100px;">
        <mat-card-header>
            <mat-card-title>Cadastro /<b>Cadastro De Pessoa Jurídica</b></mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="send">

                <button class="sendButton" mat-raised-button color="primary" (click)="onNavigateTo('')">
                    <mat-icon _ngcontent-rex-c82="" role="img"
                        class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true">apps</mat-icon>
                    Todos os Clientes
                </button>

                <button class="sendButton" mat-raised-button color="primary" (click)="onNavigateTo('pf')">
                    <mat-icon _ngcontent-rex-c82="" role="img"
                    class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true">
                    <span class="material-icons-outlined">
                        perm_identity
                        </span></mat-icon>Mudar Para PF
                </button>

            </div>
        </mat-card-content>
    </mat-card>

    <mat-card class="card" style="min-height: 800px;">
        <mat-card-header>
            <mat-card-title>Cadastro de cliente</mat-card-title>
            <mat-card-subtitle>Formulário de cadastro Pessoa jurídica </mat-card-subtitle>
        </mat-card-header>

        <mat-card-content style='padding-left: 20px;'>
            <form [formGroup]="clienteFormPj">

                <mat-form-field class='Name'>
                    <input matInput placeholder="Nome Completo" formControlName="name" required>
                </mat-form-field>

                <mat-form-field  class='Phone'>
                    <input matInput placeholder="Número de Telefone" type="number" formControlName="phone">
                </mat-form-field>

                <mat-form-field class='Address'>
                    <input matInput placeholder="Endereço" typi="string" formControlName="adress">
                </mat-form-field>

                <mat-form-field class='CEP'>
                    <input matInput placeholder="CEP" type="number" formControlName="cep">
                </mat-form-field>
 
                <mat-form-field class='UF'>
                    <input matInput placeholder="UF" formControlName="uf">
                </mat-form-field>

                <mat-form-field class='IE'>
                    <input matInput placeholder="IE" type="number" formControlName="ie" required>
                </mat-form-field>

                <mat-form-field class='CNPJ'>
                    <input matInput placeholder="CNPJ" type="number" formControlName="cnpj" required>
                </mat-form-field>


                <!--Botão para enviar formulario-->
                <div class="send">
                    <button class="sendButton" mat-raised-button color="primary" (click)="onSubmit()"
                   >Cadastrar</button>
                   <button class="sendButton" mat-raised-button color="primary" (click)="onCancel()"
                   >Cancelar</button>
                </div>
                

            </form>
        </mat-card-content>
    </mat-card>

</div>